In [2]:
import pandas as pd

import pyarrow

In [3]:
#carga del arhivo credits.
df = pd.read_csv("credits.csv")
df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

Para poder desanidar necesitamos pasar la columnas cast y crew a dict

In [10]:
#creamos la funcion de convertir a diccionario el texto
def str_to_dict(text):
  try:
    return eval(text)
  except:
    return {}

In [11]:
df['cast'] = df['cast'].apply(str_to_dict)
df['crew'] = df['crew'].apply(str_to_dict)

In [ ]:
#una vez como diccionario podemos aplicar pd.json_normalize para desanidar
df = pd.concat([pd.json_normalize(df['belongs_to_collection']), df.drop(['belongs_to_collection'], axis=1)], axis=1)

In [14]:
dfcast = pd.json_normalize(df['cast'])

In [18]:
for i in dfcast:
    print(f"cantidad de datos Nan de la columna {i}: {dfcast[i].isna().sum()}")

cantidad de datos Nan de la columna 0: 2418
cantidad de datos Nan de la columna 1: 3750
cantidad de datos Nan de la columna 2: 4660
cantidad de datos Nan de la columna 3: 5793
cantidad de datos Nan de la columna 4: 8269
cantidad de datos Nan de la columna 5: 10953
cantidad de datos Nan de la columna 6: 13645
cantidad de datos Nan de la columna 7: 16399
cantidad de datos Nan de la columna 8: 19167
cantidad de datos Nan de la columna 9: 21752
cantidad de datos Nan de la columna 10: 24560
cantidad de datos Nan de la columna 11: 26865
cantidad de datos Nan de la columna 12: 28925
cantidad de datos Nan de la columna 13: 30739
cantidad de datos Nan de la columna 14: 32326
cantidad de datos Nan de la columna 15: 34784
cantidad de datos Nan de la columna 16: 36147
cantidad de datos Nan de la columna 17: 37260
cantidad de datos Nan de la columna 18: 38075
cantidad de datos Nan de la columna 19: 38868
cantidad de datos Nan de la columna 20: 39605
cantidad de datos Nan de la columna 21: 40198
cantidad de datos Nan de la columna 22: 40678
cantidad de datos Nan de la columna 23: 41089
cantidad de datos Nan de la columna 24: 41447
cantidad de datos Nan de la columna 25: 41753
cantidad de datos Nan de la columna 26: 42027
cantidad de datos Nan de la columna 27: 42274
cantidad de datos Nan de la columna 28: 42512
cantidad de datos Nan de la columna 29: 42707
cantidad de datos Nan de la columna 30: 42892
cantidad de datos Nan de la columna 31: 43107
cantidad de datos Nan de la columna 32: 43260
cantidad de datos Nan de la columna 33: 43391
cantidad de datos Nan de la columna 34: 43529
cantidad de datos Nan de la columna 35: 43648
cantidad de datos Nan de la columna 36: 43754
cantidad de datos Nan de la columna 37: 43845
cantidad de datos Nan de la columna 38: 43943
cantidad de datos Nan de la columna 39: 44013
cantidad de datos Nan de la columna 40: 44089
cantidad de datos Nan de la columna 41: 44176
cantidad de datos Nan de la columna 42: 44246
cantidad de datos Nan de la columna 43: 44307
cantidad de datos Nan de la columna 44: 44361
cantidad de datos Nan de la columna 45: 44415
cantidad de datos Nan de la columna 46: 44474
cantidad de datos Nan de la columna 47: 44540
cantidad de datos Nan de la columna 48: 44585
cantidad de datos Nan de la columna 49: 44635
cantidad de datos Nan de la columna 50: 44675
cantidad de datos Nan de la columna 51: 44732
cantidad de datos Nan de la columna 52: 44773
cantidad de datos Nan de la columna 53: 44810
cantidad de datos Nan de la columna 54: 44846
cantidad de datos Nan de la columna 55: 44885
cantidad de datos Nan de la columna 56: 44922
cantidad de datos Nan de la columna 57: 44947
cantidad de datos Nan de la columna 58: 44980
cantidad de datos Nan de la columna 59: 45001
cantidad de datos Nan de la columna 60: 45023
cantidad de datos Nan de la columna 61: 45043
cantidad de datos Nan de la columna 62: 45066
cantidad de datos Nan de la columna 63: 45081
cantidad de datos Nan de la columna 64: 45093
cantidad de datos Nan de la columna 65: 45118
cantidad de datos Nan de la columna 66: 45134
cantidad de datos Nan de la columna 67: 45149
cantidad de datos Nan de la columna 68: 45163
cantidad de datos Nan de la columna 69: 45177
cantidad de datos Nan de la columna 70: 45189
cantidad de datos Nan de la columna 71: 45203
cantidad de datos Nan de la columna 72: 45214
cantidad de datos Nan de la columna 73: 45229
cantidad de datos Nan de la columna 74: 45240
cantidad de datos Nan de la columna 75: 45252
cantidad de datos Nan de la columna 76: 45265
cantidad de datos Nan de la columna 77: 45272
cantidad de datos Nan de la columna 78: 45279
cantidad de datos Nan de la columna 79: 45287
cantidad de datos Nan de la columna 80: 45300
cantidad de datos Nan de la columna 81: 45307
cantidad de datos Nan de la columna 82: 45314
cantidad de datos Nan de la columna 83: 45319
cantidad de datos Nan de la columna 84: 45327
cantidad de datos Nan de la columna 85: 45334
cantidad de datos Nan de la columna 86: 45337
cantidad de datos Nan de la columna 87: 45345
cantidad de datos Nan de la columna 88: 45347
cantidad de datos Nan de la columna 89: 45351
cantidad de datos Nan de la columna 90: 45354
cantidad de datos Nan de la columna 91: 45356
cantidad de datos Nan de la columna 92: 45360
cantidad de datos Nan de la columna 93: 45361
cantidad de datos Nan de la columna 94: 45362
cantidad de datos Nan de la columna 95: 45367
cantidad de datos Nan de la columna 96: 45371
cantidad de datos Nan de la columna 97: 45373
cantidad de datos Nan de la columna 98: 45378
cantidad de datos Nan de la columna 99: 45381
cantidad de datos Nan de la columna 100: 45385
cantidad de datos Nan de la columna 101: 45391
cantidad de datos Nan de la columna 102: 45392
cantidad de datos Nan de la columna 103: 45394
cantidad de datos Nan de la columna 104: 45397
cantidad de datos Nan de la columna 105: 45402
cantidad de datos Nan de la columna 106: 45406
cantidad de datos Nan de la columna 107: 45407
cantidad de datos Nan de la columna 108: 45410
cantidad de datos Nan de la columna 109: 45411
cantidad de datos Nan de la columna 110: 45415
cantidad de datos Nan de la columna 111: 45416
cantidad de datos Nan de la columna 112: 45418
cantidad de datos Nan de la columna 113: 45420
cantidad de datos Nan de la columna 114: 45424
cantidad de datos Nan de la columna 115: 45427
cantidad de datos Nan de la columna 116: 45427
cantidad de datos Nan de la columna 117: 45430
cantidad de datos Nan de la columna 118: 45433
cantidad de datos Nan de la columna 119: 45433
cantidad de datos Nan de la columna 120: 45434
cantidad de datos Nan de la columna 121: 45436
cantidad de datos Nan de la columna 122: 45438
cantidad de datos Nan de la columna 123: 45439
cantidad de datos Nan de la columna 124: 45440
cantidad de datos Nan de la columna 125: 45442
cantidad de datos Nan de la columna 126: 45442
cantidad de datos Nan de la columna 127: 45442
cantidad de datos Nan de la columna 128: 45445
cantidad de datos Nan de la columna 129: 45445
cantidad de datos Nan de la columna 130: 45446
cantidad de datos Nan de la columna 131: 45447
cantidad de datos Nan de la columna 132: 45447
cantidad de datos Nan de la columna 133: 45448
cantidad de datos Nan de la columna 134: 45449
cantidad de datos Nan de la columna 135: 45449
cantidad de datos Nan de la columna 136: 45450
cantidad de datos Nan de la columna 137: 45452
cantidad de datos Nan de la columna 138: 45452
cantidad de datos Nan de la columna 139: 45452
cantidad de datos Nan de la columna 140: 45453
cantidad de datos Nan de la columna 141: 45455
cantidad de datos Nan de la columna 142: 45455
cantidad de datos Nan de la columna 143: 45456
cantidad de datos Nan de la columna 144: 45456
cantidad de datos Nan de la columna 145: 45457
cantidad de datos Nan de la columna 146: 45457
cantidad de datos Nan de la columna 147: 45457
cantidad de datos Nan de la columna 148: 45457
cantidad de datos Nan de la columna 149: 45457
cantidad de datos Nan de la columna 150: 45457
cantidad de datos Nan de la columna 151: 45458
cantidad de datos Nan de la columna 152: 45460
cantidad de datos Nan de la columna 153: 45460
cantidad de datos Nan de la columna 154: 45460
cantidad de datos Nan de la columna 155: 45460
cantidad de datos Nan de la columna 156: 45461
cantidad de datos Nan de la columna 157: 45461
cantidad de datos Nan de la columna 158: 45462
cantidad de datos Nan de la columna 159: 45464
cantidad de datos Nan de la columna 160: 45464
cantidad de datos Nan de la columna 161: 45464
cantidad de datos Nan de la columna 162: 45464
cantidad de datos Nan de la columna 163: 45464
cantidad de datos Nan de la columna 164: 45464
cantidad de datos Nan de la columna 165: 45465
cantidad de datos Nan de la columna 166: 45465
cantidad de datos Nan de la columna 167: 45466
cantidad de datos Nan de la columna 168: 45467
cantidad de datos Nan de la columna 169: 45467
cantidad de datos Nan de la columna 170: 45467
cantidad de datos Nan de la columna 171: 45468
cantidad de datos Nan de la columna 172: 45469
cantidad de datos Nan de la columna 173: 45469
cantidad de datos Nan de la columna 174: 45469
cantidad de datos Nan de la columna 175: 45469
cantidad de datos Nan de la columna 176: 45469
cantidad de datos Nan de la columna 177: 45469
cantidad de datos Nan de la columna 178: 45469
cantidad de datos Nan de la columna 179: 45469
cantidad de datos Nan de la columna 180: 45469
cantidad de datos Nan de la columna 181: 45469
cantidad de datos Nan de la columna 182: 45469
cantidad de datos Nan de la columna 183: 45470
cantidad de datos Nan de la columna 184: 45470
cantidad de datos Nan de la columna 185: 45471
cantidad de datos Nan de la columna 186: 45471
cantidad de datos Nan de la columna 187: 45471
cantidad de datos Nan de la columna 188: 45471
cantidad de datos Nan de la columna 189: 45471
cantidad de datos Nan de la columna 190: 45471
cantidad de datos Nan de la columna 191: 45471
cantidad de datos Nan de la columna 192: 45471
cantidad de datos Nan de la columna 193: 45471
cantidad de datos Nan de la columna 194: 45471
cantidad de datos Nan de la columna 195: 45471
cantidad de datos Nan de la columna 196: 45471
cantidad de datos Nan de la columna 197: 45471
cantidad de datos Nan de la columna 198: 45471
cantidad de datos Nan de la columna 199: 45471
cantidad de datos Nan de la columna 200: 45471
cantidad de datos Nan de la columna 201: 45471
cantidad de datos Nan de la columna 202: 45471
cantidad de datos Nan de la columna 203: 45471
cantidad de datos Nan de la columna 204: 45471
cantidad de datos Nan de la columna 205: 45471
cantidad de datos Nan de la columna 206: 45471
cantidad de datos Nan de la columna 207: 45471
cantidad de datos Nan de la columna 208: 45473
cantidad de datos Nan de la columna 209: 45473
cantidad de datos Nan de la columna 210: 45473
cantidad de datos Nan de la columna 211: 45473
cantidad de datos Nan de la columna 212: 45473
cantidad de datos Nan de la columna 213: 45474
cantidad de datos Nan de la columna 214: 45474
cantidad de datos Nan de la columna 215: 45474
cantidad de datos Nan de la columna 216: 45474
cantidad de datos Nan de la columna 217: 45474
cantidad de datos Nan de la columna 218: 45474
cantidad de datos Nan de la columna 219: 45474
cantidad de datos Nan de la columna 220: 45474
cantidad de datos Nan de la columna 221: 45474
cantidad de datos Nan de la columna 222: 45474
cantidad de datos Nan de la columna 223: 45474
cantidad de datos Nan de la columna 224: 45475
cantidad de datos Nan de la columna 225: 45475
cantidad de datos Nan de la columna 226: 45475
cantidad de datos Nan de la columna 227: 45475
cantidad de datos Nan de la columna 228: 45475
cantidad de datos Nan de la columna 229: 45475
cantidad de datos Nan de la columna 230: 45475
cantidad de datos Nan de la columna 231: 45475
cantidad de datos Nan de la columna 232: 45475
cantidad de datos Nan de la columna 233: 45475
cantidad de datos Nan de la columna 234: 45475
cantidad de datos Nan de la columna 235: 45475
cantidad de datos Nan de la columna 236: 45475
cantidad de datos Nan de la columna 237: 45475
cantidad de datos Nan de la columna 238: 45475
cantidad de datos Nan de la columna 239: 45475
cantidad de datos Nan de la columna 240: 45475
cantidad de datos Nan de la columna 241: 45475
cantidad de datos Nan de la columna 242: 45475
cantidad de datos Nan de la columna 243: 45475
cantidad de datos Nan de la columna 244: 45475
cantidad de datos Nan de la columna 245: 45475
cantidad de datos Nan de la columna 246: 45475
cantidad de datos Nan de la columna 247: 45475
cantidad de datos Nan de la columna 248: 45475
cantidad de datos Nan de la columna 249: 45475
cantidad de datos Nan de la columna 250: 45475
cantidad de datos Nan de la columna 251: 45475
cantidad de datos Nan de la columna 252: 45475
cantidad de datos Nan de la columna 253: 45475
cantidad de datos Nan de la columna 254: 45475
cantidad de datos Nan de la columna 255: 45475
cantidad de datos Nan de la columna 256: 45475
cantidad de datos Nan de la columna 257: 45475
cantidad de datos Nan de la columna 258: 45475
cantidad de datos Nan de la columna 259: 45475
cantidad de datos Nan de la columna 260: 45475
cantidad de datos Nan de la columna 261: 45475
cantidad de datos Nan de la columna 262: 45475
cantidad de datos Nan de la columna 263: 45475
cantidad de datos Nan de la columna 264: 45475
cantidad de datos Nan de la columna 265: 45475
cantidad de datos Nan de la columna 266: 45475
cantidad de datos Nan de la columna 267: 45475
cantidad de datos Nan de la columna 268: 45475
cantidad de datos Nan de la columna 269: 45475
cantidad de datos Nan de la columna 270: 45475
cantidad de datos Nan de la columna 271: 45475
cantidad de datos Nan de la columna 272: 45475
cantidad de datos Nan de la columna 273: 45475
cantidad de datos Nan de la columna 274: 45475
cantidad de datos Nan de la columna 275: 45475
cantidad de datos Nan de la columna 276: 45475
cantidad de datos Nan de la columna 277: 45475
cantidad de datos Nan de la columna 278: 45475
cantidad de datos Nan de la columna 279: 45475
cantidad de datos Nan de la columna 280: 45475
cantidad de datos Nan de la columna 281: 45475
cantidad de datos Nan de la columna 282: 45475
cantidad de datos Nan de la columna 283: 45475
cantidad de datos Nan de la columna 284: 45475
cantidad de datos Nan de la columna 285: 45475
cantidad de datos Nan de la columna 286: 45475
cantidad de datos Nan de la columna 287: 45475
cantidad de datos Nan de la columna 288: 45475
cantidad de datos Nan de la columna 289: 45475
cantidad de datos Nan de la columna 290: 45475
cantidad de datos Nan de la columna 291: 45475
cantidad de datos Nan de la columna 292: 45475
cantidad de datos Nan de la columna 293: 45475
cantidad de datos Nan de la columna 294: 45475
cantidad de datos Nan de la columna 295: 45475
cantidad de datos Nan de la columna 296: 45475
cantidad de datos Nan de la columna 297: 45475
cantidad de datos Nan de la columna 298: 45475
cantidad de datos Nan de la columna 299: 45475
cantidad de datos Nan de la columna 300: 45475
cantidad de datos Nan de la columna 301: 45475
cantidad de datos Nan de la columna 302: 45475
cantidad de datos Nan de la columna 303: 45475
cantidad de datos Nan de la columna 304: 45475
cantidad de datos Nan de la columna 305: 45475
cantidad de datos Nan de la columna 306: 45475
cantidad de datos Nan de la columna 307: 45475
cantidad de datos Nan de la columna 308: 45475
cantidad de datos Nan de la columna 309: 45475
cantidad de datos Nan de la columna 310: 45475
cantidad de datos Nan de la columna 311: 45475
cantidad de datos Nan de la columna 312: 45475

Notamos que a partir de la columna 2 tiene mas de un 10% de datos NAN por lo que descartamos esas columnas

In [23]:
dfcast = dfcast.iloc[:, :2]

In [24]:
dfcast

,0,1
0,"{'cast_id': 14, 'character': 'Woody (voice)', ...","{'cast_id': 15, 'character': 'Buzz Lightyear (..."
1,"{'cast_id': 1, 'character': 'Alan Parrish', 'c...","{'cast_id': 8, 'character': 'Samuel Alan Parri..."
2,"{'cast_id': 2, 'character': 'Max Goldman', 'cr...","{'cast_id': 3, 'character': 'John Gustafson', ..."
3,"{'cast_id': 1, 'character': 'Savannah 'Vannah'...","{'cast_id': 2, 'character': 'Bernadine 'Bernie..."
4,"{'cast_id': 1, 'character': 'George Banks', 'c...","{'cast_id': 2, 'character': 'Nina Banks', 'cre..."
...,...,...
45471,"{'cast_id': 0, 'character': '', 'credit_id': '...","{'cast_id': 1, 'character': '', 'credit_id': '..."
45472,"{'cast_id': 1002, 'character': 'Sister Angela'...","{'cast_id': 1008, 'character': 'Homer', 'credi..."
45473,"{'cast_id': 6, 'character': 'Emily Shaw', 'cre...","{'cast_id': 7, 'character': 'Det. Mark Winston..."
45474,"{'cast_id': 2, 'character': '', 'credit_id': '...","{'cast_id': 3, 'character': '', 'credit_id': '..."
45475,None,None

Me quedo solo con la columna 5 donde figura el nombre de la persona

In [38]:
#desanido y tomo solo la columna 5
dfcast = pd.json_normalize(dfcast[0]).iloc[:,5:6]

In [40]:
#renombro para concatenar luego
dfcast = dfcast.rename (columns={'name':'cast'})

In [41]:
#desanido columna CREW
dfcrew = pd.json_normalize(df['crew'])

In [42]:
for i in dfcrew:
    print(f"cantidad de datos Nan de la columna {i}: {dfcrew[i].isna().sum()}")

cantidad de datos Nan de la columna 0: 771
cantidad de datos Nan de la columna 1: 5837
cantidad de datos Nan de la columna 2: 12144
cantidad de datos Nan de la columna 3: 17163
cantidad de datos Nan de la columna 4: 20268
cantidad de datos Nan de la columna 5: 22539
cantidad de datos Nan de la columna 6: 24427
cantidad de datos Nan de la columna 7: 26417
cantidad de datos Nan de la columna 8: 28302
cantidad de datos Nan de la columna 9: 30004
cantidad de datos Nan de la columna 10: 31952
cantidad de datos Nan de la columna 11: 33520
cantidad de datos Nan de la columna 12: 34927
cantidad de datos Nan de la columna 13: 36115
cantidad de datos Nan de la columna 14: 37134
cantidad de datos Nan de la columna 15: 37994
cantidad de datos Nan de la columna 16: 38745
cantidad de datos Nan de la columna 17: 39381
cantidad de datos Nan de la columna 18: 39923
cantidad de datos Nan de la columna 19: 40345
cantidad de datos Nan de la columna 20: 40705
cantidad de datos Nan de la columna 21: 41058
cantidad de datos Nan de la columna 22: 41345
cantidad de datos Nan de la columna 23: 41596
cantidad de datos Nan de la columna 24: 41848
cantidad de datos Nan de la columna 25: 42071
cantidad de datos Nan de la columna 26: 42254
cantidad de datos Nan de la columna 27: 42429
cantidad de datos Nan de la columna 28: 42629
cantidad de datos Nan de la columna 29: 42755
cantidad de datos Nan de la columna 30: 42887
cantidad de datos Nan de la columna 31: 43020
cantidad de datos Nan de la columna 32: 43136
cantidad de datos Nan de la columna 33: 43225
cantidad de datos Nan de la columna 34: 43329
cantidad de datos Nan de la columna 35: 43428
cantidad de datos Nan de la columna 36: 43514
cantidad de datos Nan de la columna 37: 43594
cantidad de datos Nan de la columna 38: 43660
cantidad de datos Nan de la columna 39: 43743
cantidad de datos Nan de la columna 40: 43818
cantidad de datos Nan de la columna 41: 43887
cantidad de datos Nan de la columna 42: 43942
cantidad de datos Nan de la columna 43: 43995
cantidad de datos Nan de la columna 44: 44057
cantidad de datos Nan de la columna 45: 44114
cantidad de datos Nan de la columna 46: 44169
cantidad de datos Nan de la columna 47: 44215
cantidad de datos Nan de la columna 48: 44259
cantidad de datos Nan de la columna 49: 44301
cantidad de datos Nan de la columna 50: 44335
cantidad de datos Nan de la columna 51: 44373
cantidad de datos Nan de la columna 52: 44408
cantidad de datos Nan de la columna 53: 44435
cantidad de datos Nan de la columna 54: 44465
cantidad de datos Nan de la columna 55: 44486
cantidad de datos Nan de la columna 56: 44511
cantidad de datos Nan de la columna 57: 44540
cantidad de datos Nan de la columna 58: 44567
cantidad de datos Nan de la columna 59: 44597
cantidad de datos Nan de la columna 60: 44621
cantidad de datos Nan de la columna 61: 44633
cantidad de datos Nan de la columna 62: 44660
cantidad de datos Nan de la columna 63: 44680
cantidad de datos Nan de la columna 64: 44698
cantidad de datos Nan de la columna 65: 44720
cantidad de datos Nan de la columna 66: 44740
cantidad de datos Nan de la columna 67: 44761
cantidad de datos Nan de la columna 68: 44772
cantidad de datos Nan de la columna 69: 44788
cantidad de datos Nan de la columna 70: 44800
cantidad de datos Nan de la columna 71: 44823
cantidad de datos Nan de la columna 72: 44845
cantidad de datos Nan de la columna 73: 44858
cantidad de datos Nan de la columna 74: 44877
cantidad de datos Nan de la columna 75: 44900
cantidad de datos Nan de la columna 76: 44917
cantidad de datos Nan de la columna 77: 44931
cantidad de datos Nan de la columna 78: 44940
cantidad de datos Nan de la columna 79: 44949
cantidad de datos Nan de la columna 80: 44965
cantidad de datos Nan de la columna 81: 44984
cantidad de datos Nan de la columna 82: 44998
cantidad de datos Nan de la columna 83: 45008
cantidad de datos Nan de la columna 84: 45015
cantidad de datos Nan de la columna 85: 45026
cantidad de datos Nan de la columna 86: 45039
cantidad de datos Nan de la columna 87: 45053
cantidad de datos Nan de la columna 88: 45065
cantidad de datos Nan de la columna 89: 45074
cantidad de datos Nan de la columna 90: 45081
cantidad de datos Nan de la columna 91: 45090
cantidad de datos Nan de la columna 92: 45105
cantidad de datos Nan de la columna 93: 45116
cantidad de datos Nan de la columna 94: 45119
cantidad de datos Nan de la columna 95: 45129
cantidad de datos Nan de la columna 96: 45135
cantidad de datos Nan de la columna 97: 45140
cantidad de datos Nan de la columna 98: 45147
cantidad de datos Nan de la columna 99: 45157
cantidad de datos Nan de la columna 100: 45168
cantidad de datos Nan de la columna 101: 45174
cantidad de datos Nan de la columna 102: 45180
cantidad de datos Nan de la columna 103: 45189
cantidad de datos Nan de la columna 104: 45198
cantidad de datos Nan de la columna 105: 45209
cantidad de datos Nan de la columna 106: 45216
cantidad de datos Nan de la columna 107: 45226
cantidad de datos Nan de la columna 108: 45238
cantidad de datos Nan de la columna 109: 45251
cantidad de datos Nan de la columna 110: 45257
cantidad de datos Nan de la columna 111: 45267
cantidad de datos Nan de la columna 112: 45272
cantidad de datos Nan de la columna 113: 45279
cantidad de datos Nan de la columna 114: 45283
cantidad de datos Nan de la columna 115: 45288
cantidad de datos Nan de la columna 116: 45296
cantidad de datos Nan de la columna 117: 45301
cantidad de datos Nan de la columna 118: 45309
cantidad de datos Nan de la columna 119: 45316
cantidad de datos Nan de la columna 120: 45322
cantidad de datos Nan de la columna 121: 45327
cantidad de datos Nan de la columna 122: 45332
cantidad de datos Nan de la columna 123: 45337
cantidad de datos Nan de la columna 124: 45342
cantidad de datos Nan de la columna 125: 45345
cantidad de datos Nan de la columna 126: 45350
cantidad de datos Nan de la columna 127: 45357
cantidad de datos Nan de la columna 128: 45359
cantidad de datos Nan de la columna 129: 45363
cantidad de datos Nan de la columna 130: 45365
cantidad de datos Nan de la columna 131: 45369
cantidad de datos Nan de la columna 132: 45372
cantidad de datos Nan de la columna 133: 45372
cantidad de datos Nan de la columna 134: 45374
cantidad de datos Nan de la columna 135: 45383
cantidad de datos Nan de la columna 136: 45384
cantidad de datos Nan de la columna 137: 45389
cantidad de datos Nan de la columna 138: 45391
cantidad de datos Nan de la columna 139: 45394
cantidad de datos Nan de la columna 140: 45394
cantidad de datos Nan de la columna 141: 45396
cantidad de datos Nan de la columna 142: 45398
cantidad de datos Nan de la columna 143: 45399
cantidad de datos Nan de la columna 144: 45404
cantidad de datos Nan de la columna 145: 45406
cantidad de datos Nan de la columna 146: 45409
cantidad de datos Nan de la columna 147: 45416
cantidad de datos Nan de la columna 148: 45417
cantidad de datos Nan de la columna 149: 45418
cantidad de datos Nan de la columna 150: 45423
cantidad de datos Nan de la columna 151: 45425
cantidad de datos Nan de la columna 152: 45425
cantidad de datos Nan de la columna 153: 45427
cantidad de datos Nan de la columna 154: 45428
cantidad de datos Nan de la columna 155: 45432
cantidad de datos Nan de la columna 156: 45435
cantidad de datos Nan de la columna 157: 45436
cantidad de datos Nan de la columna 158: 45436
cantidad de datos Nan de la columna 159: 45436
cantidad de datos Nan de la columna 160: 45438
cantidad de datos Nan de la columna 161: 45440
cantidad de datos Nan de la columna 162: 45442
cantidad de datos Nan de la columna 163: 45444
cantidad de datos Nan de la columna 164: 45445
cantidad de datos Nan de la columna 165: 45446
cantidad de datos Nan de la columna 166: 45446
cantidad de datos Nan de la columna 167: 45448
cantidad de datos Nan de la columna 168: 45449
cantidad de datos Nan de la columna 169: 45449
cantidad de datos Nan de la columna 170: 45450
cantidad de datos Nan de la columna 171: 45450
cantidad de datos Nan de la columna 172: 45452
cantidad de datos Nan de la columna 173: 45453
cantidad de datos Nan de la columna 174: 45453
cantidad de datos Nan de la columna 175: 45453
cantidad de datos Nan de la columna 176: 45453
cantidad de datos Nan de la columna 177: 45454
cantidad de datos Nan de la columna 178: 45455
cantidad de datos Nan de la columna 179: 45455
cantidad de datos Nan de la columna 180: 45455
cantidad de datos Nan de la columna 181: 45456
cantidad de datos Nan de la columna 182: 45457
cantidad de datos Nan de la columna 183: 45458
cantidad de datos Nan de la columna 184: 45458
cantidad de datos Nan de la columna 185: 45458
cantidad de datos Nan de la columna 186: 45458
cantidad de datos Nan de la columna 187: 45458
cantidad de datos Nan de la columna 188: 45458
cantidad de datos Nan de la columna 189: 45458
cantidad de datos Nan de la columna 190: 45458
cantidad de datos Nan de la columna 191: 45458
cantidad de datos Nan de la columna 192: 45458
cantidad de datos Nan de la columna 193: 45459
cantidad de datos Nan de la columna 194: 45460
cantidad de datos Nan de la columna 195: 45461
cantidad de datos Nan de la columna 196: 45462
cantidad de datos Nan de la columna 197: 45462
cantidad de datos Nan de la columna 198: 45462
cantidad de datos Nan de la columna 199: 45463
cantidad de datos Nan de la columna 200: 45464
cantidad de datos Nan de la columna 201: 45464
cantidad de datos Nan de la columna 202: 45464
cantidad de datos Nan de la columna 203: 45464
cantidad de datos Nan de la columna 204: 45464
cantidad de datos Nan de la columna 205: 45464
cantidad de datos Nan de la columna 206: 45464
cantidad de datos Nan de la columna 207: 45464
cantidad de datos Nan de la columna 208: 45464
cantidad de datos Nan de la columna 209: 45464
cantidad de datos Nan de la columna 210: 45464
cantidad de datos Nan de la columna 211: 45465
cantidad de datos Nan de la columna 212: 45465
cantidad de datos Nan de la columna 213: 45465
cantidad de datos Nan de la columna 214: 45466
cantidad de datos Nan de la columna 215: 45466
cantidad de datos Nan de la columna 216: 45466
cantidad de datos Nan de la columna 217: 45467
cantidad de datos Nan de la columna 218: 45467
cantidad de datos Nan de la columna 219: 45467
cantidad de datos Nan de la columna 220: 45468
cantidad de datos Nan de la columna 221: 45468
cantidad de datos Nan de la columna 222: 45469
cantidad de datos Nan de la columna 223: 45469
cantidad de datos Nan de la columna 224: 45469
cantidad de datos Nan de la columna 225: 45469
cantidad de datos Nan de la columna 226: 45469
cantidad de datos Nan de la columna 227: 45469
cantidad de datos Nan de la columna 228: 45470
cantidad de datos Nan de la columna 229: 45470
cantidad de datos Nan de la columna 230: 45470
cantidad de datos Nan de la columna 231: 45470
cantidad de datos Nan de la columna 232: 45470
cantidad de datos Nan de la columna 233: 45470
cantidad de datos Nan de la columna 234: 45470
cantidad de datos Nan de la columna 235: 45470
cantidad de datos Nan de la columna 236: 45470
cantidad de datos Nan de la columna 237: 45470
cantidad de datos Nan de la columna 238: 45470
cantidad de datos Nan de la columna 239: 45470
cantidad de datos Nan de la columna 240: 45470
cantidad de datos Nan de la columna 241: 45470
cantidad de datos Nan de la columna 242: 45471
cantidad de datos Nan de la columna 243: 45471
cantidad de datos Nan de la columna 244: 45472
cantidad de datos Nan de la columna 245: 45472
cantidad de datos Nan de la columna 246: 45472
cantidad de datos Nan de la columna 247: 45472
cantidad de datos Nan de la columna 248: 45472
cantidad de datos Nan de la columna 249: 45472
cantidad de datos Nan de la columna 250: 45473
cantidad de datos Nan de la columna 251: 45473
cantidad de datos Nan de la columna 252: 45473
cantidad de datos Nan de la columna 253: 45473
cantidad de datos Nan de la columna 254: 45473
cantidad de datos Nan de la columna 255: 45473
cantidad de datos Nan de la columna 256: 45473
cantidad de datos Nan de la columna 257: 45473
cantidad de datos Nan de la columna 258: 45473
cantidad de datos Nan de la columna 259: 45473
cantidad de datos Nan de la columna 260: 45473
cantidad de datos Nan de la columna 261: 45473
cantidad de datos Nan de la columna 262: 45473
cantidad de datos Nan de la columna 263: 45473
cantidad de datos Nan de la columna 264: 45473
cantidad de datos Nan de la columna 265: 45473
cantidad de datos Nan de la columna 266: 45473
cantidad de datos Nan de la columna 267: 45473
cantidad de datos Nan de la columna 268: 45473
cantidad de datos Nan de la columna 269: 45473
cantidad de datos Nan de la columna 270: 45473
cantidad de datos Nan de la columna 271: 45473
cantidad de datos Nan de la columna 272: 45473
cantidad de datos Nan de la columna 273: 45473
cantidad de datos Nan de la columna 274: 45473
cantidad de datos Nan de la columna 275: 45473
cantidad de datos Nan de la columna 276: 45473
cantidad de datos Nan de la columna 277: 45473
cantidad de datos Nan de la columna 278: 45473
cantidad de datos Nan de la columna 279: 45473
cantidad de datos Nan de la columna 280: 45473
cantidad de datos Nan de la columna 281: 45473
cantidad de datos Nan de la columna 282: 45473
cantidad de datos Nan de la columna 283: 45473
cantidad de datos Nan de la columna 284: 45473
cantidad de datos Nan de la columna 285: 45473
cantidad de datos Nan de la columna 286: 45473
cantidad de datos Nan de la columna 287: 45473
cantidad de datos Nan de la columna 288: 45473
cantidad de datos Nan de la columna 289: 45473
cantidad de datos Nan de la columna 290: 45473
cantidad de datos Nan de la columna 291: 45473
cantidad de datos Nan de la columna 292: 45473
cantidad de datos Nan de la columna 293: 45473
cantidad de datos Nan de la columna 294: 45473
cantidad de datos Nan de la columna 295: 45473
cantidad de datos Nan de la columna 296: 45473
cantidad de datos Nan de la columna 297: 45473
cantidad de datos Nan de la columna 298: 45473
cantidad de datos Nan de la columna 299: 45473
cantidad de datos Nan de la columna 300: 45473
cantidad de datos Nan de la columna 301: 45473
cantidad de datos Nan de la columna 302: 45473
cantidad de datos Nan de la columna 303: 45473
cantidad de datos Nan de la columna 304: 45473
cantidad de datos Nan de la columna 305: 45473
cantidad de datos Nan de la columna 306: 45473
cantidad de datos Nan de la columna 307: 45473
cantidad de datos Nan de la columna 308: 45473
cantidad de datos Nan de la columna 309: 45473
cantidad de datos Nan de la columna 310: 45473
cantidad de datos Nan de la columna 311: 45473
cantidad de datos Nan de la columna 312: 45473
cantidad de datos Nan de la columna 313: 45473
cantidad de datos Nan de la columna 314: 45473
cantidad de datos Nan de la columna 315: 45473
cantidad de datos Nan de la columna 316: 45474
cantidad de datos Nan de la columna 317: 45474
cantidad de datos Nan de la columna 318: 45474
cantidad de datos Nan de la columna 319: 45474
cantidad de datos Nan de la columna 320: 45474
cantidad de datos Nan de la columna 321: 45474
cantidad de datos Nan de la columna 322: 45474
cantidad de datos Nan de la columna 323: 45474
cantidad de datos Nan de la columna 324: 45474
cantidad de datos Nan de la columna 325: 45474
cantidad de datos Nan de la columna 326: 45474
cantidad de datos Nan de la columna 327: 45474
cantidad de datos Nan de la columna 328: 45474
cantidad de datos Nan de la columna 329: 45474
cantidad de datos Nan de la columna 330: 45474
cantidad de datos Nan de la columna 331: 45474
cantidad de datos Nan de la columna 332: 45474
cantidad de datos Nan de la columna 333: 45474
cantidad de datos Nan de la columna 334: 45474
cantidad de datos Nan de la columna 335: 45474
cantidad de datos Nan de la columna 336: 45474
cantidad de datos Nan de la columna 337: 45474
cantidad de datos Nan de la columna 338: 45475
cantidad de datos Nan de la columna 339: 45475
cantidad de datos Nan de la columna 340: 45475
cantidad de datos Nan de la columna 341: 45475
cantidad de datos Nan de la columna 342: 45475
cantidad de datos Nan de la columna 343: 45475
cantidad de datos Nan de la columna 344: 45475
cantidad de datos Nan de la columna 345: 45475
cantidad de datos Nan de la columna 346: 45475
cantidad de datos Nan de la columna 347: 45475
cantidad de datos Nan de la columna 348: 45475
cantidad de datos Nan de la columna 349: 45475
cantidad de datos Nan de la columna 350: 45475
cantidad de datos Nan de la columna 351: 45475
cantidad de datos Nan de la columna 352: 45475
cantidad de datos Nan de la columna 353: 45475
cantidad de datos Nan de la columna 354: 45475
cantidad de datos Nan de la columna 355: 45475
cantidad de datos Nan de la columna 356: 45475
cantidad de datos Nan de la columna 357: 45475
cantidad de datos Nan de la columna 358: 45475
cantidad de datos Nan de la columna 359: 45475
cantidad de datos Nan de la columna 360: 45475
cantidad de datos Nan de la columna 361: 45475
cantidad de datos Nan de la columna 362: 45475
cantidad de datos Nan de la columna 363: 45475
cantidad de datos Nan de la columna 364: 45475
cantidad de datos Nan de la columna 365: 45475
cantidad de datos Nan de la columna 366: 45475
cantidad de datos Nan de la columna 367: 45475
cantidad de datos Nan de la columna 368: 45475
cantidad de datos Nan de la columna 369: 45475
cantidad de datos Nan de la columna 370: 45475
cantidad de datos Nan de la columna 371: 45475
cantidad de datos Nan de la columna 372: 45475
cantidad de datos Nan de la columna 373: 45475
cantidad de datos Nan de la columna 374: 45475
cantidad de datos Nan de la columna 375: 45475
cantidad de datos Nan de la columna 376: 45475
cantidad de datos Nan de la columna 377: 45475
cantidad de datos Nan de la columna 378: 45475
cantidad de datos Nan de la columna 379: 45475
cantidad de datos Nan de la columna 380: 45475
cantidad de datos Nan de la columna 381: 45475
cantidad de datos Nan de la columna 382: 45475
cantidad de datos Nan de la columna 383: 45475
cantidad de datos Nan de la columna 384: 45475
cantidad de datos Nan de la columna 385: 45475
cantidad de datos Nan de la columna 386: 45475
cantidad de datos Nan de la columna 387: 45475
cantidad de datos Nan de la columna 388: 45475
cantidad de datos Nan de la columna 389: 45475
cantidad de datos Nan de la columna 390: 45475
cantidad de datos Nan de la columna 391: 45475
cantidad de datos Nan de la columna 392: 45475
cantidad de datos Nan de la columna 393: 45475
cantidad de datos Nan de la columna 394: 45475
cantidad de datos Nan de la columna 395: 45475
cantidad de datos Nan de la columna 396: 45475
cantidad de datos Nan de la columna 397: 45475
cantidad de datos Nan de la columna 398: 45475
cantidad de datos Nan de la columna 399: 45475
cantidad de datos Nan de la columna 400: 45475
cantidad de datos Nan de la columna 401: 45475
cantidad de datos Nan de la columna 402: 45475
cantidad de datos Nan de la columna 403: 45475
cantidad de datos Nan de la columna 404: 45475
cantidad de datos Nan de la columna 405: 45475
cantidad de datos Nan de la columna 406: 45475
cantidad de datos Nan de la columna 407: 45475
cantidad de datos Nan de la columna 408: 45475
cantidad de datos Nan de la columna 409: 45475
cantidad de datos Nan de la columna 410: 45475
cantidad de datos Nan de la columna 411: 45475
cantidad de datos Nan de la columna 412: 45475
cantidad de datos Nan de la columna 413: 45475
cantidad de datos Nan de la columna 414: 45475
cantidad de datos Nan de la columna 415: 45475
cantidad de datos Nan de la columna 416: 45475
cantidad de datos Nan de la columna 417: 45475
cantidad de datos Nan de la columna 418: 45475
cantidad de datos Nan de la columna 419: 45475
cantidad de datos Nan de la columna 420: 45475
cantidad de datos Nan de la columna 421: 45475
cantidad de datos Nan de la columna 422: 45475
cantidad de datos Nan de la columna 423: 45475
cantidad de datos Nan de la columna 424: 45475
cantidad de datos Nan de la columna 425: 45475
cantidad de datos Nan de la columna 426: 45475

Debido a la cantidad de valores NAN solo tomaremos la primer columna

In [43]:
dfcrew = dfcrew.iloc[:, :1]

In [47]:
#nuevamente desanido y me quedo solo con el nombre, coincidentemente es la columna 5
dfcrew = pd.json_normalize(dfcrew[0]).iloc[:,5:6]
#renombro para concatenar:
dfcrew = dfcrew.rename (columns={'name':'crew'})

Del dataframe original elimino las columnas iniciales cast y crew originalmente anidadas

In [49]:
df = df.drop (columns=['cast','crew'])

concateno con los DF cast y crew

In [51]:
df_final = pd.concat([dfcast,dfcrew,df], axis=1)

In [52]:
df_final

                   cast              crew      id
0             Tom Hanks     John Lasseter     862
1        Robin Williams   Larry J. Franco    8844
2        Walter Matthau     Howard Deutch   15602
3       Whitney Houston   Forest Whitaker   31357
4          Steve Martin    Alan Silvestri   11862
...                 ...               ...     ...
45471      Leila Hatami  Hamid Nematollah  439050
45472      Angel Aquino          Lav Diaz  111109
45473     Erika Eleniak    Mark L. Lester   67758
45474  Iwan Mosschuchin  Yakov Protazanov  227506
45475               NaN     Daisy Asquith  461257

[45476 rows x 3 columns]

obteniendo el DF final totalmente desanidado

In [53]:
df_final.to_parquet ("credits_etl.parquet")