In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
df = pd.read_parquet("../data/movies_etl4.parquet")

In [287]:
len(df)

45466

In [288]:
df100 = df.copy()

In [267]:
#pruebo usando solo los 100 primeras peliculas
df100 = df[1:5000]

In [289]:
# elimino las filas cuyo valores en la columna overview es NAN
df100 = df100.dropna(subset=['overview'])

In [290]:
df100 = df100.reset_index(drop=True)

In [291]:
# Paso 1: Crear la matriz TF-IDF basada en la columna de 'review'
tfidf = TfidfVectorizer(stop_words='english')  # Elimina palabras comunes en inglés
tfidf_matrix = tfidf.fit_transform(df100['overview'])

In [292]:
# Paso 2: Calcular la similitud del coseno basada en las reseñas
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Función para recomendar películas
def recommend_movies(title, cosine_sim=cosine_sim):
    # Obtener el índice de la película que coincide con el título
    idx = df100[df100['title'].str.lower() == title.lower()].index[0]
    
    # Obtener las puntuaciones de similitud de coseno de esa película con todas las demás
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordenar las películas basadas en las puntuaciones de similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los índices de las películas más similares
    sim_scores = sim_scores[:6]  # Obtener las 5 más similares ,(se deja la primera para control)

    # Obtener los títulos de las películas más similares
    movie_indices = [i[0] for i in sim_scores]
    return df100['title'].iloc[movie_indices]

In [303]:
# Probar el recomendador
movie_to_recommend = "toy story"
recommendations = recommend_movies(movie_to_recommend)
print(f"Películas recomendadas para '{movie_to_recommend}':\n", recommendations)

Películas recomendadas para 'toy story':
 0                          Toy Story
15275                    Toy Story 3
2977                     Toy Story 2
10266         The 40 Year Old Virgin
24289                      Small Fry
23621    Andy Hardy's Blonde Trouble
Name: title, dtype: object

In [304]:
# Probar el recomendador
movie_to_recommend = "rambo"
recommendations = recommend_movies(movie_to_recommend)
print(f"Películas recomendadas para '{movie_to_recommend}':\n", recommendations)

Películas recomendadas para 'rambo':
 12317                         Rambo
2270                    First Blood
2271                      Rambo III
2269     Rambo: First Blood Part II
37503        Chrome and Hot Leather
33366                      Freetown
Name: title, dtype: object

In [305]:
# Probar el recomendador
movie_to_recommend = "batman"
recommendations = recommend_movies(movie_to_recommend)
print(f"Películas recomendadas para '{movie_to_recommend}':\n", recommendations)

Películas recomendadas para 'batman':
 583                                  Batman
9198     Batman Beyond: Return of the Joker
18133                 The Dark Knight Rises
25025                     Batman vs Dracula
15437            Batman: Under the Red Hood
41109                 DC Showcase: Catwoman
Name: title, dtype: object

In [150]:
idx= df100[df100['title'] == "Jumanji"].index[0]
idx

np.int64(1)

In [202]:
len(df100['title'])

98

In [302]:
#con -1
idx= df100[df100['title'] == "Queerama"].index[0]
idx

np.int64(44426)

In [163]:
sim_scores = list(enumerate(cosine_sim[98]))
sim_scores

IndexError: index 98 is out of bounds for axis 0 with size 98

In [140]:
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

In [82]:
cosine_sim[idx]

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0.])

In [285]:
df100['title'].tail

<bound method NDFrame.tail of 0                           Jumanji
1                  Grumpier Old Men
2                 Waiting to Exhale
3       Father of the Bride Part II
4                              Heat
                   ...
3972                     Innerspace
3973                       Ironweed
3974                         Ishtar
3975              Jaws: The Revenge
3976                 Leonard Part 6
Name: title, Length: 3977, dtype: object>

In [232]:
df100['title'].iloc[1]

'Grumpier Old Men'

In [230]:
df100['title'].iloc[7]

'Sudden Death'

In [299]:
len(df100)

44427

In [301]:
df100['title'].iloc[44426]

'Queerama'

In [141]:
sim_scores

[(0, np.float64(1.0000000000000004)),
 (7, np.float64(0.12879632119983564)),
 (94, np.float64(0.0711393059931379)),
 (4, np.float64(0.06170452500020561)),
 (1, np.float64(0.05089370887718996)),
 (41, np.float64(0.03804209394347766)),
 (83, np.float64(0.03749775535042215)),
 (24, np.float64(0.036732197949110944)),
 (30, np.float64(0.03343277384334443)),
 (50, np.float64(0.033041541066962915)),
 (16, np.float64(0.031782847181652474)),
 (25, np.float64(0.02641536199368722)),
 (60, np.float64(0.02239782728109338)),
 (62, np.float64(0.02139502421308186)),
 (44, np.float64(0.020963264394590363)),
 (47, np.float64(0.019364395401475314)),
 (92, np.float64(0.01877971170754446)),
 (87, np.float64(0.01851600718380976)),
 (91, np.float64(0.018386956987799984)),
 (26, np.float64(0.016804863978154123)),
 (75, np.float64(0.016026854666819274)),
 (95, np.float64(0.014651379260806788)),
 (70, np.float64(0.014257794354200728)),
 (12, np.float64(0.013094863721552486)),
 (9, np.float64(0.013084220668184864)),
 (45, np.float64(0.011595163071882039)),
 (63, np.float64(0.01143951800898641)),
 (21, np.float64(0.010011244278644074)),
 (31, np.float64(0.009251882199049086)),
 (79, np.float64(0.009140372181468228)),
 (48, np.float64(0.008674649822888503)),
 (80, np.float64(0.00820344787130233)),
 (32, np.float64(0.008176931060883614)),
 (2, np.float64(0.0)),
 (3, np.float64(0.0)),
 (5, np.float64(0.0)),
 (6, np.float64(0.0)),
 (8, np.float64(0.0)),
 (10, np.float64(0.0)),
 (11, np.float64(0.0)),
 (13, np.float64(0.0)),
 (14, np.float64(0.0)),
 (15, np.float64(0.0)),
 (17, np.float64(0.0)),
 (18, np.float64(0.0)),
 (19, np.float64(0.0)),
 (20, np.float64(0.0)),
 (22, np.float64(0.0)),
 (23, np.float64(0.0)),
 (27, np.float64(0.0)),
 (28, np.float64(0.0)),
 (29, np.float64(0.0)),
 (33, np.float64(0.0)),
 (34, np.float64(0.0)),
 (35, np.float64(0.0)),
 (36, np.float64(0.0)),
 (37, np.float64(0.0)),
 (38, np.float64(0.0)),
 (39, np.float64(0.0)),
 (40, np.float64(0.0)),
 (42, np.float64(0.0)),
 (43, np.float64(0.0)),
 (46, np.float64(0.0)),
 (49, np.float64(0.0)),
 (51, np.float64(0.0)),
 (52, np.float64(0.0)),
 (53, np.float64(0.0)),
 (54, np.float64(0.0)),
 (55, np.float64(0.0)),
 (56, np.float64(0.0)),
 (57, np.float64(0.0)),
 (58, np.float64(0.0)),
 (59, np.float64(0.0)),
 (61, np.float64(0.0)),
 (64, np.float64(0.0)),
 (65, np.float64(0.0)),
 (66, np.float64(0.0)),
 (67, np.float64(0.0)),
 (68, np.float64(0.0)),
 (69, np.float64(0.0)),
 (71, np.float64(0.0)),
 (72, np.float64(0.0)),
 (73, np.float64(0.0)),
 (74, np.float64(0.0)),
 (76, np.float64(0.0)),
 (77, np.float64(0.0)),
 (78, np.float64(0.0)),
 (81, np.float64(0.0)),
 (82, np.float64(0.0)),
 (84, np.float64(0.0)),
 (85, np.float64(0.0)),
 (86, np.float64(0.0)),
 (88, np.float64(0.0)),
 (89, np.float64(0.0)),
 (90, np.float64(0.0)),
 (93, np.float64(0.0)),
 (96, np.float64(0.0)),
 (97, np.float64(0.0))]